.header-main-container {
	display: flex;
	align-items: center;
	padding: 1rem;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.header-store-name,
.header-nav-link,
.header-cart-section {
	flex-grow: 1;
}

.header-store-name > .header-company-name {
	font-size: 24px;
}

.header-nav-link {
	text-align: center;
}
.header-cart-section {
	display: flex;
	align-items: center;
	justify-content: center;
}
.header-cart-items {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1.5px solid #35a7ff;
	border-radius: 10px;
	padding: 5px;
}
.header-item-count {
	text-align: center;
	border-radius: 50%;
	background-color: #35a7ff;
	color: #ffffff;
	padding: 2px;
	width: 25px;
	margin-left: 8px;
}

.header-sub {
	background-color: #38618c;
	margin-top: 6px;
	padding: 10px;
}

.header-sub > marquee {
	color: #ffffff;
	font-size: 18px;
}
.marquee-offers {
    display: flex;
    gap: 12px;
}
